*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #5D4954;
}

.debut{
    color: rgb(254, 254, 254);
    letter-spacing: 1px;
}

.nav-links{
    display:flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links a{
    color: rgb(224, 224, 224);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 15px; 
}

.nav-links li{
    list-style: none;
}

.burger{
    display: none;
    cursor: pointer;
} 

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(254, 254, 254);
    margin: 5px;
    transition: all 0.5s ease-in;
}

header h2 span{
    font-weight: normal;
    font-size: 15px;
}

header h2 {
    display : inline-block ;
    margin: 0 20px 0 20px;
} 

header{
    text-align : center ;
} 

section{
    margin-top: 50px;
}

section div p {
    margin-left: 10%;
} 

section h3{
    margin-left: 10%; 
}

section div h1{
    font-size: 250%;
    margin-left : 10%;
}

.cont{
    display: flex;
    justify-content: space-around;
}

.contain{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contain1{
    display:flex;
    justify-content:center;
    align-items: center;
}

.contain .se{
    background-color :darkgoldenrod ;
    width : 120px ;
    height: 120px;
    border-radius: 50%;  
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
}

.contain .se span{
    padding-top: 40%;
    padding-left: 17%;
    font-size:1.2em; 
    font-weight: bold; 
} 

#b{
    background-color :goldenrod;
}

#b:hover{
    cursor:pointer;
    background-color: white;
}

#c{
    background-color :gold;
}

#c:hover{
    cursor:pointer;
    background-color: white;
}

.contain .se:hover{
    cursor:pointer;
    background-color: white;
}

img{
    float: right;
    border-radius:50%;
    height: 200px;
    width: 200px;
}

footer{
    margin:30px ;
    display: flex;
    justify-content: space-around;
}

footer div span{
    font-weight: bold;
    /* margin-top: 10px; */
}

footer div{
    text-align: center;
}

#second{
    display: none;
}

@media all and (min-width: 1370px){
    body{
        width: 100%;
    }
    section{
        margin: 0 0 0 -5%;
    }
    footer{
        margin: 7% 0 0 0;
    } 
    .prempart{
        display: flex;
    }

    img{
        height: 300px;
        width: 300px;
        margin: 10% 0 0 0;
    }
    .princ{
        margin-right: 0 80px 0 0;
    }
    .cont{
        margin: 2% 0 0 0;
    }
}

@media screen and (min-width: 1020px){
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 10vh;
        background-color: #5D4954;
    }
    .nav-links{
        display:flex;
        justify-content: space-around;
        width: 55%;
    }
    section{
        width:100%;
    }
    .cont{
        display: grid;
    }
    .contain{
        margin: 50px 0 0 0;
    }
    
    img{
        width: 250px;
        height:250px;
    }
    .contain1{
        padding: 5% 59% 0 41%;
    }
    
}


@media (min-width: 636px) and (max-width: 1020px){
    .contain .se{
        background-color :darkgoldenrod ;
        width : 125px ;
        height: 125px;
        margin-left: 2%;
    }
    footer{
        margin: 10% 0 0 0;
    }
    
    .nav-links{
        display:flex;
        justify-content: space-around;
        width: 55%;
    }
}


@media (min-width: 350px) and (max-width: 635px){

    header div h2{
        font-size: 0.99em;
    }

    header h2 {
        display : inline-block ;
        margin: 0 20px 0 20px;
    } 

    header div span{
        font-size: 0.75em;
    }

    .debut{
        width : 20px ;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(32, 32, 30);
        margin: -20px 0 0 -5%;
    } 

    section{
        margin-top: 35px;
    }

    section div p {
        margin-left: 10%;
    } 

    section h3{
        margin-left: 10%; 
    }

    section div h1{
        font-size: 190%;
        margin-left : 10%;
    }

    .contain{
        display: grid;
        margin: 0 0 0 -115px;
    }
    .se{
        background-color :darkgoldenrod ;
        width : 90px ;
        height: 90px;
        border-radius: 50%;  
        display: flex;
        justify-content: space-between;
        margin-left: -20px;
        margin-bottom: 20px;
    }

    .se span{
        padding-top: 40%;
        padding-left: 15%;
        font-size:1em; 
        font-weight: bold; 
    } 

    img{
        float: right;
        border-radius:50%;
        margin: 130px 0 0 25px;
        width: 200px;
        height: 200px;
    }

    footer{
        display: grid;
        margin:150px 0 10px 85px;
    }

    .prempart{
        display: flex;
        justify-content: space-around;
        margin:0 0 20px 0;
    }

    .princ{
        margin: 0 100px 0 0;
    }

    .recs{
        font-size: 0.8em;
    }

    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height:150%;
        top:15vh;
        background-color: #5D4954;
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        z-index: 5px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in; 
    }

    .burger{
        margin: 0 0 0 60%;
        display: block;
    }
}

@media all and (max-width: 350px){
    header div h2{
        font-size: 0.99em;
    }

    header h2 {
        display : inline-block ;
        margin: 0 20px 0 20px;
    } 

    header div span{
        font-size: 0.75em;
    }

    .debut{
        width : 20px ;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(32, 32, 30);
        margin: -20px 0 0 -5%;
    } 

    section{
        margin-top: 35px;
    }

    section div p {
        margin-left: 10%;
    } 

    section h3{
        margin-left: 10%; 
    }

    section div h1{
        font-size: 190%;
        margin-left : 10%;
    }

    .contain{
        display: grid;
        margin: 0 0 0 -75px;
    }

    .se{
        background-color :darkgoldenrod ;
        border-radius: 50%;  
        display: flex;
        justify-content: space-between;
        margin: 0 0 -100px -10px;
    }

    #a, #b, #c{
        width: 90px;
        height: 90px;
        margin: 0 0 -100px 70px;
    }

    #b span{
        padding: 40% 0 0 15%;
        font-size:0.85em; 
        font-weight: bold; 
    } 

    #a span{
        padding: 40% 0 0 15%;
        font-size:0.85em; 
        font-weight: bold; 
    } 

    #c span{
        padding: 40% 0 0 15%;
        font-size:0.85em; 
        font-weight: bold; 
    } 

    img{
        float: right;
        border-radius:50%;
        margin: 70px 0 0 5px;
        width: 100px;
        height: 100px;
    }

    footer{
        display: grid;
        margin:500px 0 10px 70px;
    }

    .prempart{
        display: grid;
        /* justify-content: space-around; */
        margin:0 0 10px 0;
    }

    .princ{
        margin: 0 20px 20px -40px;
    }

    .recs{
        font-size: 0.8em;
    }

    .der{
        margin: 0 20px 0px -40px;
    }

    .debut span{
        display: none;
    }

    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height:150%;
        top:15vh;
        background-color: #5D4954;
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        z-index: 5px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in; 
    }

    .burger{
        margin: 0 0 0 60%;
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}

.move .lgn1{
    transform: rotate(-45deg) /*translate(-5px, 6px)*/;
}


.move .lgn2{
    opacity: 0;
}


.move .lgn3{
    transform: rotate(45deg) ;/*translate(-5px, -6px); */
}
/* @keyframes navLinkFade{
    from{
        opacity: 0;
        transform:translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
} */